* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
.html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*NAVBAR SECTION*/
.navbar {
    height: 100vh;
    width: 100%;
    background: #16003d;
    position: relative;
}
.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #482580;
    width: 7.5rem;
    padding: 0.6rem 0;
}
.nav-logo {
    font-size: 5.5rem;
    font-weight: bolder;
    display: block;
    align-items: center;
    margin: 0 1.7rem;
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text; /*Gecko-specific properties. They're used to invoke Gecko-specific behavior, or behavior that isn't implemented in other layout engines.*/
    -moz-background-clip: text; /*Gecko-specific properties. They're used to invoke Gecko-specific behavior, or behavior that isn't implemented in other layout engines.*/
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    text-decoration: none;
}
.nav-menu {
    margin-top: 0.5rem;
}
.nav-item {
    list-style: none;
}
.nav-item i {
    font-size: 2.2rem;
    display: block;
    align-items: center;
    margin: 1rem auto;
    padding: 1.2rem 1.2rem;
    color: #ffd94a;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 0.8rem;
    transition: opacity 0.5s, background 0.5s;
    width: 60%;
}
.nav-item i:hover {
    opacity: 1;
    background: #960ec7ad;
}
#active {
    opacity: 1;
    background: #960ec7ad;
}
.nav-icons {
    margin-left: 7.5rem;
    padding: 0 2rem;
}
.top-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 0;
}
.top-icons i {
    color: #482580;
    font-size: 2rem;
    margin-left: 2.5rem;
    cursor: pointer;
}

/*ROWS*/
.row {
    margin-top: 0.9rem;
    display: flex;
    justify-content: space-between;
}
.col-1 {
    flex-basis: 65%;
}
.col-2 {
    flex-basis: 33%;
}
.host-img {
    width: 100%;
    border-radius: 0.8rem;
}
.controls {
    color: #ffd94a;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.controls i {
    margin: 1.2rem 1.5rem;
    cursor: pointer;
    transition: transform 0.5s;
}
#phone-icon {
    font-size: 3.2rem;
}
.controls i:hover{
    transform: translateY(-0.5rem);
}
/*JOINED SECTION*/
.joined {
    background-color: #00dadea1;
    border-radius: 1rem;
    padding: 1.8rem 2.5rem 3rem;
}
.joined p {
    color: aliceblue;
    font-size: 1.2rem;
}
.joined-people {
    margin-top: 1.2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1.2rem;
}
.joined-people img {
    width: 100%;
    border-radius: 0.8rem;
    cursor: pointer;
}

/*INVITE SECTION*/
.invite {
    background: #482580;
    border-radius: 1rem;
    padding: 1.5rem 2.5rem 2.5rem;
    margin-top: 1.2rem;
}
.invite p {
    font-size: 1.2rem;
    color: aliceblue;
}
.invite img {
    margin-top: 1.2rem;
    width: 3.1rem;
    margin-left: 0.8rem;
    border-radius: 50%;
    cursor: pointer;
}
